body{
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  padding:0px;
  margin:0px;
  background:url("greybg.jpg") repeat-y -550px 20px;
  color:white;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

.clear{
  clear:both;
}

.subs-btn{
  padding:8px 10px;
  color:white;
  background:#1761a0;
  border:none;
}

.subs-btn:hover{
  background:#3f8ed3;
  cursor: pointer;
}

/* Header */
header{
  background:#36393e;
  min-height: 60px;
  border-bottom: solid #1761a0 5px;
}

header .branding{
  float:left;
}

header .branding h2{
  float:left
}

header .branding img{
  width:60px;
  height:60px;
  padding-top:10px;
  padding-left:5px;
}

header .highlight{
  color:#3f8ed3;
}

header nav{
  float:right;
}

header nav a{
  text-decoration: none;
  color:white;
  text-transform: uppercase;
}

header nav a:hover{
  color:#4396df;
}

header nav ul{
  padding-top:10px;
}

header nav li{
  display:inline;
  padding-right:30px;
}

header nav .current{
  color:#3f8ed3;
}
  /*header mediaQ*/
  @media(max-width:800px){
    header .container{
      width: 100%;
    }
    header .branding,header nav{
      float:none;
    }
    header .branding h2{
      display:none;
    }
    header .branding img{
      padding:0 0 0 5px;
      float:left;
    }
    header nav ul, header nav li{
      text-align: center;
      padding-left:0px;
    }
    header nav ul{
      padding:0px;
    }
    header nav li{
      padding-right: 50px;
    }
  }
  @media(max-width:720px){
    header nav ul li:nth-child(2){
      display: none;
    }
  }

  @media(max-width:600px){
    header nav li{
      padding-right: 50px;
    }
  }
 
/* Section */
#showcase{
  height: 431px;
  background: url("webmc.png") no-repeat 0px -120px;
  text-align: center;
  line-height: 1.3em;
  font-size:60px;
  box-shadow: inset 0px 0px 90px 20px black;
}

#showcase p{
  font-size: 35px;
  margin-top:-70px;
  margin-bottom:1px;
}

#showcase span:before{
  content:'make new friends.';
  opacity: 0%;
  animation: wordchange 9s ease-in-out 0s infinite;
}
@keyframes wordchange{
  0%{
    content:'make new friends.';
    opacity: 0%;
  }
  8.33%{
    opacity:100%;
  }
  25%{
    opacity:100%;
  }
  33.33%{
    content:'make new friends.';
    opacity: 0%;
  }
  33.34%{
    content:'get teammates.';
    opacity: 0%;
  }
  41.66%{
    opacity:100%;
  }
  58.33%{
    opacity: 100%;
  }
  66.66%{
    content:'get teammates.';
    opacity: 0%;
  }
  66.67%{
    content:'spend your day.';
    opacity: 0%;
  }
  75%{
    opacity: 100%;
  }
  91.66%{
    opacity: 100%;
  }
  100%{
    content:'spend your day.';
    opacity: 0%;
  }
}

#join-btn{
  text-decoration: none;
  color:white;
  font-size:40px;
  font-weight: bolder;
  border: 3px solid white;
  border-radius: 10px;
  padding:10px 40px;
}

#join-btn:hover{
  animation: glow 1s ease-in-out infinite;
}
@keyframes glow{
  0%{
    color:white;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #1761a0, 0 0 40px #1761a0, 0 0 50px #1761a0, 0 0 60px #1761a0, 0 0 70px #1761a0;
  }
  50%{
    color:white;
    text-shadow: 0 0 20px #fff, 0 0 30px #3f8ed3, 0 0 40px #3f8ed3, 0 0 50px #3f8ed3, 0 0 60px #3f8ed3, 0 0 70px #3f8ed3, 0 0 80px #3f8ed3;
  }
  100%{
    color:white;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #1761a0, 0 0 40px #1761a0, 0 0 50px #1761a0, 0 0 60px #1761a0, 0 0 70px #1761a0;
  }
}
  /*showcase mediaQ*/
  @media(max-width:1000px){
    #showcase{
      background-position: -200px -120px;
    }
  }
  @media(max-width:870px){
    #showcase .container{
      width: 90%;
    }
    #showcase{
      height: 360px;
    }
    #showcase h1{
      font-size: 80px;
      margin:30px 0 10px 0 ;
    }
    #showcase p{
      line-height: 1.25em;
      margin:0 0 20px 0;
      font-size: 30px;
    }
    #showcase span{
      display: block;
    }
  }
  @media(max-width:620px){
    #showcase{
      height: 420px;
      background-position: -350px -120px;
    }
  }
  @media(max-width:370px){
    #showcase{
      height: 360px;
    }
    #showcase h1{
      font-size: 70px;
      line-height: 1em;
      margin-top:10px;
    }
    #showcase .container{
      width: 100%;
    }
    #showcase p{
      font-size: 25px;
    }
  }


/* Section */
#newslatter{
  min-height: 100px;
  background-color: #36393e;
}

#newslatter h1{
  float:left;
}

#newslatter form{
  float:right;
  margin-top:30px;
}

#newslatter form input{
  padding:5px;
  padding-right:40px;
}
  /* newslatter mediaQ */
  @media(max-width:940px){
    #newslatter h1,#newslatter form{
      float:none;
      text-align: center;
      margin:20px 0;
    }
  }

/* Section */
#detail-1{
  min-height: 420px;
  border-bottom:solid #36393e 5px;
  margin:10px 0;
}

#detail-1 article{
  float:left;
  width:30%;
  height: 250px;
  display: block;
}

#detail-1 article ul{
  list-style-type:'✓  ';
}

#detail-1 h1.normal{
  font-size: 30px;
  color: #4396df;
}

#detail-1 h1.media{
  font-size: 30px;
  color: #4396df;
  display:none;
}

#detail-1 aside{
  float:right;
  width:55%;
  height:350px;
  background: url("gif1.gif") no-repeat -165px -145px;
  border-radius: 10px;
  margin:15px;
  border: solid #36393e 5px;
}
  /*detail-1 mediaQ*/
  @media(max-width:1250px){
    #detail-1 aside{
      background-position:-190px -145px;
    }
  }
  @media(max-width:1150px){
    #detail-1 aside{
      background-position:-210px -145px;
    }
  }
  @media(max-width:1050px){
    #detail-1 aside{
      background-position:-230px -145px;
    }
  }
  @media(max-width:1000px){
    #detail-1 h1.normal{
      font-size: 30px;
      color: #4396df;
      display: none;
    }
    #detail-1 h1.media{
      font-size: 30px;
      color: #4396df;
      display:block;
      text-align: center;
      font-size:40px;
      margin:20px 0 35px 0;
   }
   #detail-1 article{
     float:right;
     width: 40%;
   }
   #detail-1 aside{
     float:left;
     width: 50%;
     height: 260px;
     margin:0 0;
     background-position: -265px -200px;
   }
  }
  @media(max-width:950px){
    #detail-1 aside{
      background-position:-285px -200px;
    }
  }
  @media(max-width:860px){
    #detail-1 aside{
      background-position:-305px -200px;
    }
  }
  @media(max-width:770px){
    #detail-1 aside{
      background-position:-325px -200px;
    }
  }
  @media(max-width:700px){
    #detail-1 #passage{
      margin-top: -20px ;
    }
    #detail-1 aside{
      background-position:-345px -200px;
    }
  }
  @media(max-width:560px){
    #passage p:first-of-type{
      display: none;
    }
    #detail-1 aside{
      background-position:-370px -200px;
    }
  }
  @media(max-width:370px){
    #detail-1 h1.media{
      margin-bottom: 0;
    }
    #detail-1 article p{
      display:none;
    }
    #detail-1 article{
      width: 100%;
      height: 150px;
      text-align: center;
    }
    #detail-1 #passage{
      margin: 0 0;
    }
    #detail-1 aside{
      width: 90%;
      height: 200px;
      margin:0 0 15px 10px;
      background-position:-337px -252px;
    }
  }
  

/* Section */
#detail-2{
  height: 420px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#detail-2 aside{
  float:left;
  width:50%;
  height:370px;
  background: url("gif2.gif") no-repeat 0 -90px;
  border:solid #36393e 5px;
  border-radius: 10px;
  margin:15px;
}

#detail-2 article{
  float:right;
  width:40%;
  margin-top:50px;
}

#detail-2 article h1{
  font-size: 40px;
  color: #4396df;
}
  /*detail-2 mediaQ*/
  @media(max-width:600px){
    #detail-2{
      height: 350px;
      margin-bottom:0px;
    }
    #detail-2 aside{
      height: 300px;
      background-position: -100px -90px;
      margin:0 0;
    }
    #detail-2 article h1{
      margin-top: 0px;
    }
  }
  @media(max-width:370px){
    #detail-2 article{
      width: 100%;
      text-align: center;
    }
    #detail-2 article h1,#detail-2 article p{
      margin: 0 0;
    }
    #detail-2 article h1{
      margin-top: -30px;
    }
    #detail-2 article p{
      margin: 10px 0 25px 0 ;
    }
    #detail-2 aside{
      width: 90%;
      height: 150px;
      display:block;
      margin-left:10px;
      background-position: -100px -150px;
    }
  }


/* footer */
footer{
  height:80px;
  background: #1761a0;
  text-align: center;
  padding-top:5px;
}
footer p{
  margin-bottom: 0px;
}

/* ABOUT */
#about{
  font-weight: bold;
  line-height: 1.6em;
  letter-spacing: 0.7px;
  word-spacing: 3px;
}

.topic{
  margin:20px 0;
  text-align: center;
  height: 110px;
  background-image:linear-gradient(to bottom right,#3f8ed3,#1761a0);
}

.topic h1{
  font-size: 70px;
  margin-top:10px;
}

#csgo{
  min-height: 300px;
  background: url("csgo.png") no-repeat -30px -270px;
}

#fortnite{
  min-height: 200px;
  background: url("fortnite.jpg") no-repeat -200px -220px;
}

#minecraft{
  min-height: 100px;
  background:url("minecraft.jpg") no-repeat -700px -1060px;
}

#dota{
  min-height: 200px;
  background:url("dota.jpg") no-repeat -140px -300px;
}

/* HELP */
#contact h1{
  text-align: center;
  margin-top: 5px;
}

#form{
  max-width: 500px;
  margin:auto;
  font-size: 22px;
  padding:10px 0 30px 40px;
  border:solid white 2px;
  border-radius: 10px;
  margin-bottom: 20px;
}

#contact form label{
  display:block;
  margin-top: 20px;
}

#contact form input{
  padding:6px;
  width:215px;
  border-radius: 5px;
  border:none;
}

#contact form textarea{
  border-radius: 5px;
  font-family:Arial, Helvetica, sans-serif;
  padding:5px;
  margin-top: 2px;
}

#contact form #buttons{
  max-width: 455px;
  height: 22px;
  margin-top: 10px;
}

#buttons button{
  border-radius: 5px;
  font-size:15px;
}

#buttons button:hover{
  cursor: pointer;
}

#buttons #clear-btn{
  padding:8px 20px;
  color:white;
  background:none;
  float:left;
  border: solid white 1px;
}

#buttons #clear-btn:hover{
  box-shadow: 0px 0px 5px white;
}

#buttons #submit-btn{
  padding:10px 25px;
  float:right;
  background:#1761a0;
  border:none;
  color:white;
}

#buttons #submit-btn:hover{
  background: #3f8ed3;
}
  /*help mediaQ*/
  @media(max-width:700px){
    #form input{
      display: block;
    }
    #form #fname{
      margin-bottom: 10px;
    }
  }
  @media(max-width:690px){
    #form{
      width: 300px;
    }
    #form #msg{
      width: 220px;
    }
    #form #clear-btn{
      display: none;
    }
    #form #buttons{
      text-align: center;
      width: 235px;
    }
    #form #submit-btn{
      float:none;
      width: 80%;
    }
  }
  @media(max-width:370px){
    #form{
      width: 200px;
      padding: 10px 0 30px 12px;
    }
    #contact form input{
      width: 175px;
    }
   #form #msg{
    width: 175px;
   }
   #form #buttons{
    text-align: center;
    width: 187px;
  }

  }

/* alert */
#email-alert, #name-alert{
  font-size: 12px;
  color:rgb(255, 46, 46);
  line-height: 0em;
  display:none;
}

/* THANK */
#thank{
  text-align: center;
  margin-bottom: 30px;
  line-height: 2.2em;
}

#thank h1{
  font-size: 75px;
}

#thank h3{
  font-size:30px ;
}

#thank p{
  margin-top: 100px;
}

#thank p a{
  color: white;
}

#thank p a:hover{
  color: #4396df;
}
